@media (orientation: landscape) {
  .actpat-centered-container-width {
      width: 900px;
  }

  .actpat-button {
    width: 150px;
    background-color: #007bff;
    color: white;
    border: none;
  }

  .actpat-button:hover {
    background-color: #0056b3;
  }

  .actpat-button-big-stat {
    width: 300px;
  }
}

@media (orientation: portrait) {
  .actpat-centered-container-width {
      width: 90vw;
  }

  .actpat-button {
    width: 10vw;
    background-color: #007bff;
    color: white;
    border: none;
  }

  .actpat-button:hover {
    background-color: #0056b3;
  }

  .actpat-button-big-stat {
    width: 20vw;
  }
}

.actpat-border {
  border-radius: 10px;
  border: 2px solid #0056b3;
}

.actpat-stat {
  width: 100%;
  transition: all 0.3s ease;
}

.actpat-centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 120px;
  margin-bottom: 40px;
  background: white;
  box-shadow: 0px 1vw 1vw rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  gap: 30px;
}

.actpat-gap-between-tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actpat-patient-activity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.actpat-rounded-box {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #cccccc;
}

.actpat-box-size {
  height: 40px;
}

.actpat-text {
  text-align: center;
  width: 100%;
}