* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background: #f5f5f5;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1vw 1vw rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: relative;
  align-items: center;
}

.menu-opener {
  width: 40px;
  font-size: 16px;
}

.menu-content {
  width: 200px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  background: white;
  box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.1);
  gap: 5px;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-button {
  height: 40px;
  border-radius: 8px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
}

.header-button:hover {
  background-color: #0056b3;
}

.header-button-logout {
  height: 40px;
  border-radius: 8px;
  padding: 12px;
  background-color: #ff2c4a;
  color: white;
  border: none;
}

.header-button-logout:hover {
  background-color: #ba0025;
}

.header-search-input {
  outline: none;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #cccccc;
  height: 40px;
}
